<section class="character-features">
  <div class="character-features-header">
    <h2>{{localize "TIRDUIN_RPS.CharacterSheet.Tabs.Features"}}</h2>
    <a class="item-control item-create character-feature-add"
      data-type="feature"
      title="{{localize 'TIRDUIN_RPS.CharacterSheet.Features.Add'}}">
      <i class="fas fa-plus"></i>
      {{localize 'TIRDUIN_RPS.CharacterSheet.Features.Add'}}
    </a>
  </div>

  {{#if features.length}}
  <ol class="character-features-list">
    {{#each features as |item|}}
    <li class="character-feature-item" data-item-id="{{item._id}}">
      <div class="character-feature-main item-edit"
        title="{{localize 'TIRDUIN_RPS.CharacterSheet.Features.Edit'}}">
        <div class="character-feature-title-row">
          <img src="{{item.img}}" title="{{item.name}}" width="22"
            height="22" />
          <h4>{{item.name}}</h4>
        </div>

        <div class="character-feature-meta-row">
          <span class="character-feature-chip">
            {{localize "TIRDUIN_RPS.CharacterSheet.Features.Origin"}}:
            {{#if (eq item.system.origin "race")}}
            {{localize "TIRDUIN_RPS.CharacterSheet.Features.Origins.Race"}}
            {{else if (eq item.system.origin "background")}}
            {{localize
            "TIRDUIN_RPS.CharacterSheet.Features.Origins.Background"}}
            {{else}}
            {{localize "TIRDUIN_RPS.CharacterSheet.Features.Origins.Class"}}
            {{/if}}
          </span>
          <span class="character-feature-chip">
            {{localize "TIRDUIN_RPS.CharacterSheet.Features.Level"}}:
            {{item.system.level}}
          </span>
        </div>

        {{#if item.system.description}}
        <p class="character-feature-description">{{item.system.description}}</p>
        {{/if}}
      </div>

      <div class="character-feature-controls item-controls">
        <a class="item-control item-summary"
          title="{{localize 'TIRDUIN_RPS.CharacterSheet.Features.PostSummary'}}">
          <i class="fas fa-comment-dots"></i>
        </a>
        <a class="item-control item-edit"
          title="{{localize 'TIRDUIN_RPS.CharacterSheet.Features.Edit'}}">
          <i class="fas fa-edit"></i>
        </a>
        <a class="item-control item-delete"
          title="{{localize 'TIRDUIN_RPS.CharacterSheet.Features.Delete'}}">
          <i class="fas fa-trash"></i>
        </a>
      </div>
    </li>
    {{/each}}
  </ol>
  {{else}}
  <p class="character-features-empty">{{localize
    "TIRDUIN_RPS.CharacterSheet.Features.Empty"}}</p>
  {{/if}}
</section>