<form class="{{cssClass}} special-item-sheet" autocomplete="off">

  <section class="special-sheet-panel">
    <div class="special-header-row">
      <img
        class="special-image-picker"
        src="{{item.img}}"
        data-edit="img"
        title="{{item.name}}" />

      <div class="special-field special-field-name">
        <label for="name">{{localize
          "TIRDUIN_RPS.CharacterSheet.Features.Name"}}</label>
        <input name="name" type="text" value="{{item.name}}"
          placeholder="{{localize "TIRDUIN_RPS.CharacterSheet.Features.Name"}}" />
      </div>
    </div>

    <div class="special-field special-field-description">
      <label for="system.description">{{localize
        "TIRDUIN_RPS.CharacterSheet.Features.Description"}}</label>
      <textarea name="system.description"
        placeholder="{{localize "TIRDUIN_RPS.CharacterSheet.Features.Description"}}">{{system.description}}</textarea>
    </div>
  </section>

</form>
