<form class="{{cssClass}} special-item-sheet" autocomplete="off">

  <section class="special-sheet-panel">
    <div class="special-header-row">
      <img
        class="special-image-picker"
        src="{{item.img}}"
        data-edit="img"
        title="{{item.name}}" />

      <div class="special-field special-field-name">
        <label for="name">{{localize
          "TIRDUIN_RPS.Item.Spell.Fields.Name"}}</label>
        <input name="name" type="text" value="{{item.name}}"
          placeholder="{{localize "TIRDUIN_RPS.Item.Spell.Fields.Name"}}" />
      </div>
      <div class="special-field special-field-domain">
        <label for="system.spellDomain">{{localize
          "TIRDUIN_RPS.Item.Spell.Fields.Domain.Label"}}</label>
        <select name="system.spellDomain">
          <option value>{{localize
            "TIRDUIN_RPS.Item.Spell.Fields.Domain.None"}}</option>
          {{#each config.spellDomains as |domainLabel domainKey|}}
          <option value="{{domainKey}}" {{#if (eq system.spellDomain
            domainKey)}}selected{{/if}}>{{localize domainLabel}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="special-field special-field-description">
      <label for="system.description">{{localize
        "TIRDUIN_RPS.Item.Spell.Fields.Description"}}</label>
      <textarea name="system.description"
        placeholder="{{localize "TIRDUIN_RPS.Item.Spell.Fields.Description"}}">{{system.description}}</textarea>
    </div>
  </section>

</form>